#layout-header {
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        color: aliceblue;
        background: rgb(204, 27, 124);
        box-shadow:   1px 1px 1px 1px rgb(114, 114, 182) ;

        .mini-logo {
            p{
                margin: 5px;
                font-size: 1.5rem;
                font-weight: bold;
                color: rgb(0, 0, 0);
            }
        }

        .auth-link {
            ul{
                margin: 5% 5px;
                display: flex;

                li{
                    margin-right: 10px;
                    list-style: none;
                }
            }
        }

        a{
            color: aliceblue;
            text-decoration: none;
            margin: 10px;
        }
    }
}