.home-container {
    display: flex;

    #feed-post{
        width: 80%;
        padding: 10px;
    }

    #user-sec {
        border-left: 2px solid grey ;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: rgba(0, 45, 82, 0.637);
        }
    }
}